<div class="card mt-5">
    <h5 class="card-title text-center">Orders</h5>
    <div class="card-body">
        <table class="table table-borderless">
            <thead class="border border-start-0 border-end-0">
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Date added</th>
                <th scope="col">Customer</th>
                <th scope="col">Fulfillment</th>
                <th scope="col">Payment status</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td scope="row">Shirt</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>#mdo</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td scope="row">Jeans</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>#fat</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>#witter</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
