<div class="content mt-5">
  <h2>Orders</h2>
  <p>Manage the orders of product for your store</p>
</div>

<div class="card mt-5">
  <h5 class="card-title text-center">Orders</h5>
  <div class="card-body">
    <table class="table table-borderless">
      <thead class="border border-start-0 border-end-0 text-center">
        <tr>
          <th scope="col">Order</th>
          <th scope="col">Date added</th>
          <th scope="col">Customer</th>
          <th scope="col">Quantity</th>
          <th scope="col">Payment status</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tr
        *ngFor="let order of orders; let i = index"
        (click)="goToOrderDetail(order)"
        style="cursor: pointer; transition: background-color 0.3s"
        (mouseover)="highlightRow($event)"
        (mouseout)="removeHighlight($event)"
        class="text-center"
      >
        <td>{{ order.orderId }}</td>
        <td>{{ order.orderDate }}</td>
        <td>{{ order.customerName }}</td>
        <td>{{ order.totalQuantity }}</td>
        <td>
          <span class="badge" 
          [ngClass]="{
            'text-bg-danger': order.status === 'CANCELLED',
            'text-bg-info': order.status === 'PLACED',
            'text-bg-success': order.status === 'IN PROGRESS',
            'text-bg-secondary': order.status === 'DONE'
          }">
      {{ order.status }}
    </span>
        </td>
        <td>{{ order.finalPrice }}</td>
      </tr>
    </table>
  </div>

  <!-- Pagination Controls -->
  <div class="d-flex justify-content-end me-3">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" (click)="onPageChange(currentPage - 1)"
            >Previous</a
          >
        </li>
        <li
          class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
        >
          <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
        </li>
        <li
          class="page-item"
          [class.disabled]="(currentPage + 1) * pageSize >= totalItems"
        >
          <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
